.item{
  height:600px;
  width:auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  position: relative;
}

.carousel-control .fa{
  display: table;
  margin: 0 auto;
  vertical-align: middle;
  transform: translateY(45%);
}

.carousel-caption{
  position: absolute;
  top: 12%;
}
