{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Media- Paaila Technology</title>
    <meta name="description" content="Know about the vision of Paaila Technology and the team that executes it with brilliance.">
    <meta name="keywords" content="Vision, Mission, Team, Profile, Information, Objectives, Paaila, Paaila Technology, Technology, Nepal, Automation, Robot">
{% endblock %}


{% block content %}


    <!-- Media Coverage -->
<div class="container-fluid" style="background: #FFFFFF">
    <div class="container" style="padding:calc(2vw + 3em) 0 calc(2vw + 2em) 0;
{#    border-top:1px dashed black;#}
">

    <style>
        .media-thumb{
            opacity: 0.75;
            width: 180px !important;
            height: auto;
        }

        .media-thumb:hover{
            opacity: 1;
        }
    </style>

      <p style="text-align:center" class="subtitle">Paaila in News!</p>
      <h1 style="margin:1.2vh 0px 4vh 0;text-align:center">Media coverage</h1>

        <div class="col-md-12" style="padding: 20px 0">
          <!--Media 1  -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="http://kantipur.ekantipur.com/news/2017-07-12/20170712082145.html">
                    <img src="{% static 'base/images/kant.jpg' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>

          <!--Media 2  -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                  <a href="https://www.youtube.com/watch?v=JEDHbHddut8">
                    <img src="{% static 'base/images/ap1.png' %}" class="img img-responsive media-thumb" alt="" style="">
                  </a>
              </div>

          <!--Media 2  -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                  <a href="#">
                    <img src="{% static 'base/images/THT.png' %}" class="img img-responsive media-thumb" alt="" style="">
                  </a>
              </div>

          <!--Media 3  -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="https://www.youtube.com/watch?v=lh90Zt92Hvg">
                    <img src="{% static 'base/images/vmag.png' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>

          <!--Media 4  -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="http://saptahik.ekantipur.com/news/2017-07-26/20170725135335.html">
                     <img src="{% static 'base/images/saptahik-logo.png' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>

          <!--Media 5 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                  <a href="https://youtu.be/LYlzuJ9Es34">
                  <img src="{% static 'base/images/avenues_tv.png' %}" class="img img-responsive media-thumb" alt="" style="">
                  </a>
              </div>
        </div>

    <div class="col-md-12" style="padding: 20px 0">

          <!--Media 6 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="https://glocalkhabar.com/featured/squad-young-engineers-striving-towards-commercial-future-robotics-nepal-story-paaila-technology/">
                  <img src="{% static 'base/images/glocal.png' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>

          <!--Media 7 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                 <a href="http://startupsnepal.com/stories/entry/the-journey-of-paaila-technology-a-kathmandu-based-tech-startup-that-is-taking-the-nepali-automation-scene-by-storm-with-pari">
                  <img src="{% static 'base/images/startups-nepal-index_03.png' %}" class="img img-responsive media-thumb" alt="" style="">
                 </a>
              </div>

          <!--Media 8 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="http://kinmel.setopati.com/suchana-prawidhi/42467/">
                    <img src="{% static 'base/images/setopati.jpg' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>


          <!--Media 9 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="https://wowmagnepal.com/living-dream-paaila-technology/">
                    <img src="{% static 'base/images/wow.png' %}" class="img img-responsive media-thumb" alt="" style="background-color: #000000;padding: 10px">
                </a>
              </div>


          <!--Media 9 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="https://www.youtube.com/watch?v=UKoekhWzqYw">
                  <img src="{% static 'base/images/gadgetbyte.png' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>


          <!--Media 9 -->
              <div class="col-md-2 col-xs-4" style="margin:0 auto; display: table;">
                <a href="https://t.co/I943Fpxs8K">
                  <img src="{% static 'base/images/himalkhabar.png' %}" class="img img-responsive media-thumb" alt="" style="">
                </a>
              </div>

        </div>

    </div>
</div>
    <!--  end of awards section-->
<style>
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
</style>


{% endblock%}
