<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Paaila Technology-We Drive Innovations Forward.">
    <meta name="google-site-verification" content="5YyfKR90XezwMARVwzTYQl-s34t4P1jn5Q0nerSlQ0g" />

        <title>Home - Paaila Technology</title>
        
    <!--    Meta are used to make site search friendly-->
        <meta name="keywords" content="Paaila, Paaila Technology, Humanoid, Humanoid Robot, Robot for business, Technology, Nepal, Robot and Industrial Automation, Automation, Robot, Made in Nepal">
        <meta name="description" content="Paaila Technology introduced first commercial humanoid service robot.
        It has a great vertical integration of software and hardware expertise which include include image processing
        and computer vision, embedded system design, robotics and automation. Location: Nepal.">

    <!-- Import online bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta name="google-site-verification" content="LuekQPJ29A0rl2t_iYyxMjAjDM_8Iw8ZOWDKlZfZRJw" />

    <link rel="icon"
      type="image/png"
      href="{% static "base/images/Paaila Favicon_Paaila Favicon.png" %}">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:600|EB+Garamond|Quicksand|Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Cardo|Lustria|Source+Serif+Pro" rel="stylesheet">

</head>


    <body>

        
    </body>
</html>